<mat-form-field>
  <mat-chip-list #chipList aria-label="TypeFood selection">
    <mat-chip
      *ngFor="let typeFood of typeFoodSelected"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="removeTypeFood(typeFood)">
      {{typeFood}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Type de nourriture"
      #typeFoodInput
      [formControl]="typeFoodCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="addTypeFood($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTypeFood($event)">
    <mat-option *ngFor="let typeFood of filteredTypeFood | async" [value]="typeFood">
      {{typeFood}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field>
  <mat-label>Ambiance</mat-label>
  <mat-select [formControl]="ambianceCtrl">
    <mat-option *ngFor="let ambiance of ambiances" [value]="ambiance">
      {{ambiance}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-label>Distance</mat-label><br>
<mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="5"
  (valueChange)="distance($event)"
  min="0"
  max="300"></mat-slider>
<p>Note global</p>
<app-star-global [rating]="0" [click]="true"></app-star-global>
<p>Qualité/prix</p>
<app-star-valueForMoney-root [click]="true"></app-star-valueForMoney-root>
<!--<p>Note cuisine</p>
<app-mat-star-rating></app-mat-star-rating>
<p>Note Service</p>
<app-mat-star-rating></app-mat-star-rating>-->
