@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~leaflet/dist/leaflet.css";

.basic-container {
  padding: 30px;
}

#map {
  height: 300px;
  margin-bottom: 30px;
}

#starRating div div.ng-star-inserted {

}
nav.navbar.navbar-expand.navbar-dark.bg-dark.row {
  width: 100%;
  margin: 0;
}
.page-item.active .page-link {
   background-color: rebeccapurple;
   border-color: rebeccapurple;
 }
.jumbotron{
  margin-bottom: 0;
  padding-bottom: 0;
}

#starRating div.invalid-feedback {
  display: block !important;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
nav.navbar.navbar-expand.navbar-dark.bg-dark.row.ng-star-inserted {
  margin: 0;
}

#starRatingVFM div.invalid-feedback {
  display: block !important;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}



.row-margin-bottom{
  margin-bottom: 50px;
}

#formAddRestaurant {
  width: 50%;
  margin: auto;
}

#formAddReview {
  width: 50%;
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

textarea.form-control {
  height: 100px;
}

label {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #495057;
}

mat-icon {
  color: rebeccapurple;
}

.mat-chip {
  width: auto;
}

.material-icons {
  vertical-align: middle;
  margin-right: 10px;
}

#avisHeader {
  display: flex;
}

#btnAvisHeader {
  flex-grow: 1;
}


