<li class="card m-1 md-5 shadow-sm" style="width: 22rem;">
  <div class="card-header">
    <h5>{{restaurant.name}}</h5>
  </div>
  <img src="../../assets/notfound.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text"><i class="material-icons">location_on</i>{{restaurant?.street}}, {{restaurant?.city}}</p>
    <span class="text-muted">Note</span><br>
    <app-star-global [rating]="restaurant?.score" [click]="false"></app-star-global><br>
    <span class="text-muted">Qualité/prix</span><br>
    <app-star-valueForMoney-root [rating]="restaurant?.price" [click]="false"></app-star-valueForMoney-root><br>
    <a routerLink='/restaurant/{{restaurant.id}}' mat-button>Voir la page</a>
  </div>
  <div class="card-footer">
    <small class="text-muted"><i class="material-icons">date_range</i>Crée le {{restaurant.createdDate | date:'short':'+0200':'fr'}}</small>
    <small class="text-muted"><i class="material-icons m-1">account_circle</i>{{restaurant.createdBy}}</small>
  </div>
</li>
