<div class="row">
  <div class="col">
    <div class="card shadow-sm p-3">
    <app-restaurant-filter *ngIf="type === 'Restaurants'" (selectValue)="selectValueRestaurant($event)"></app-restaurant-filter>
    <app-review-filter *ngIf="type === 'Avis'" (selectValue)="selectValueReview($event)"></app-review-filter>
      <mat-form-field>
        <mat-label>Trier</mat-label>
        <mat-select (valueChange)="sort($event)" [formControl]="sortCtrl">
          <mat-option value="notePlus">Du Mieux noté au moins bien noté</mat-option>
          <mat-option value="noteMoins">Du moins bien noté au mieux noté</mat-option>
          <mat-option value="recent">Le plus récent</mat-option>
          <mat-option value="moinsRecent">Le moins récent</mat-option>
          <mat-option value="qualitePlus">Meilleur qualité/prix</mat-option>
          <mat-option value="qualiteMoins">Pire qualité/prix</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="col-lg-9" *ngIf="type === 'Restaurants'">
    <h4 class="text-muted">{{restaurants?.length}} résultats </h4>
    <ul class="card-group">
      <app-restaurant-card *ngFor="let restaurant of restaurants" [data]="restaurant"></app-restaurant-card>
    </ul>
  </div>
  <div class="col-lg-9" *ngIf="type === 'Avis'">
    <h4 class="text-muted">{{reviews?.length}} résultats</h4>
    <div class="card-deck" style="flex-flow: column;">
      <app-review-display *ngFor="let review of reviews" class="m-2" [restaurantName]="review.restaurantName" [restaurantID]="review.idRestaurant" [review]="review"></app-review-display>
    </div>
  </div>
</div>
