﻿<div class="row">
  <div class="col-md-12 m-3">
    <h4 class="text-muted">Les derniers Restaurants ajoutés</h4>
    <ul class="card-group">
      <app-restaurant-card *ngFor="let restaurant of restaurants" [data]="restaurant"></app-restaurant-card>
    </ul>
    <mat-divider [vertical]="false"></mat-divider>
  </div>
  <div class="col-md-12 m-3">
    <h4 class="text-muted">Les derniers Avis ajoutés</h4>
    <div class="card-group reviews">
      <app-review-display *ngFor="let review of reviews" class="m-2" [restaurantName]="review.restaurantName" [restaurantID]="review.idRestaurant" [review]="review"></app-review-display>
    </div>
  </div>
</div>
