﻿<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="navbar navbar-expand navbar-dark bg-dark row">
  <div class="navbar-nav col col-lg-3">
    <a class="nav-item nav-link" routerLink="/">Accueil</a>
    <a class="nav-item nav-link" *ngIf="currentUser" routerLink="/restaurant">Ajouter un Restaurant</a>
  </div>
  <div class="nav-item col col-lg-6">
    <app-search-bar class="nav-item mx-auto"></app-search-bar>
  </div>
  <div class="nav-item col col-lg-3">
    <button class=" nav-item nav-link" [mat-menu-trigger-for]="menu" style="float:right; background-color: #343A40; border:none; color:rgba(255,255,255,.5);">Mon Compte</button>
    <mat-menu #menu="matMenu" class="nav-link">
      <button *ngIf="!currentUser" class="mat-menu-item" (click)="register()">S'inscrire</button>
      <button *ngIf="!currentUser" class="mat-menu-item" (click)="login()">Se connecter</button>
      <button *ngIf="currentUser" class="mat-menu-item" (click)="logout()">Se déconnecter</button>
    </mat-menu>
  </div>
</nav>

<div class="jumbotron" style="min-height: 1300px;">
  <div class="container-fluid">
      <app-alert></app-alert>
      <router-outlet></router-outlet>
  </div>
</div>
<footer class="text-muted navbar navbar-expand navbar-dark bg-dark">
<p>Par BOUHOUCH Julien et QUATREVAUX Solène</p>
</footer>
