<mat-form-field>
  <mat-label>Ambiance</mat-label>
  <mat-select [formControl]="ambianceCtrl">
    <mat-option *ngFor="let ambiance of ambiances" [value]="ambiance">
      {{ambiance}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>A partir de:</mat-label>
  <input matInput [formControl]="datePickerCtrl" [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <mat-label>Jusqu'à</mat-label>
  <input matInput [formControl]="datePickerCtrl2" [matDatepicker]="picker2">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<p>Note global</p>
<app-star-global [rating]="0" [click]="true"></app-star-global>
<p>Qualité/prix</p>
<app-star-valueForMoney-root [click]="true"></app-star-valueForMoney-root>
