﻿<h2>S'inscrire</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">Prénom requis</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Nom requis</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Pseudo</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Pseudo requis</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Mot de passe requis</div>
            <div *ngIf="f.password.errors.minlength">Le mot de passe doit faire au moins 6 caractères</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-light m-1">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            S'inscrire
        </button>
        <a routerLink="/login" class="btn btn-light m-1">Annuler</a>
    </div>
</form>
