<!--<div class="card">
  <h5 class="card-header">{{review.title}}</h5>
  <div class="card-body">
    <p class="card-text">{{review.review}}</p>
  </div>
</div>-->


<div class="card shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-auto">
          <p class="card-text"><i class="material-icons">account_circle</i>{{review.createdBy}}</p>
          <p class="card-text"><i class="material-icons">date_range</i>{{review.createdDate | date:'short':'+0200':'fr'}}</p>
        </div>
        <div class="col">
          <h5 class="card-title">{{review.title}} </h5>
          <p *ngIf="restaurantName" routerLink="../restaurant/{{restaurantID}}" class="text-muted">{{restaurantName}}</p>
          <p class="card-text">{{review.review}}</p>
          <h6 class="card-subtitle mb-2 text-muted">Type de visite : {{review.mood}}</h6>
        </div>
        <div class="col-md-auto">
          <p class="card-text">Note globale<app-star-global [rating]="review.score" [click]="false"></app-star-global>
          <p class="card-text">Rapport qualité / prix<app-star-valueForMoney-root [rating]="review.price" [click]="false"></app-star-valueForMoney-root></p>
        </div>
      </div>
    </div>
</div>


