<form (ngSubmit)="onSubmit()" fxLayout="row" [formGroup]="doSearch">
  <mat-form-field>
    <mat-select formControlName="type" [(ngModel)]="value">
      <mat-option *ngFor="let type of type" [value]="type">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <input class="form-control" style="margin: 1%" fxLayoutAlign="center center" type="text" formControlName="recherche" placeholder="Chercher un restaurant ou un avis">
</form>

