﻿<h2>Connexion</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Pseudo</label>
        <input matInput type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Pseudo requis</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Mot de passe</label>
        <input matInput type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Mot de passe requis</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-light m-1">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Se connecter
        </button>
        <a routerLink="/register" class="btn btn-light m-1">S'inscrire</a>
    </div>
</form>
