<div id="formAddRestaurant">
  <h2>Ajouter un restaurant</h2>
  <div class="mat-app-background basic-container">
    <form [formGroup]="addRestaurantForm" (ngSubmit)="onSubmit()" class="example-full-width">

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Nom officiel"  matInput formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Ce champ est obligatoire.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Télephone"  matInput formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" />
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.pattern">Format non valide.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Ville" matInput formControlName="city"  [matAutocomplete]="auto"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
          <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
            <div *ngIf="f.city.errors.required">Ce champ est obligatoire.</div>
          </div>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredCities  | async | slice : 0 : 10" [value]="option"
                        (onSelectionChange)="changeLatLngCities(option)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Rue" matInput formControlName="street" [matAutocomplete]="auto2"
                 class="form-control" [ngClass]="{ 'is-invalid': submitted && f.street.errors }" />
          <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
            <div *ngIf="f.street.errors.required">Ce champ est obligatoire.</div>
          </div>
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let option of filteredStreets | async | slice : 0 : 10" [value]="option"
                        (onSelectionChange)="changeLatLngStreets(option)">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div id="map"></div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Envoyer
        </button>
      </div>
    </form>
  </div>
</div>
