<div class="row row-margin-bottom">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h5>{{restaurant?.name.toUpperCase()}}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <p class="card-text"><i class="material-icons">location_on</i>{{restaurant?.street}}, {{restaurant?.city}}</p>
          </div>
          <div class="col-4">
            <p *ngIf="restaurant?.phoneNumber === undefined"
               class="card-text"><i class="material-icons">call</i>Non renseigné</p>
            <p *ngIf="restaurant?.phoneNumber !== undefined"
               class="card-text"><i class="material-icons">call</i>{{restaurant?.phoneNumber}}</p>
          </div>
          <div class="col-4">
            <p class="card-text"><i class="material-icons">access_time</i>aa</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div  id="formAddReview">

  <div class="mat-app-background basic-container">
    <h6>Votre expérience est précieuse pour les autres voyageurs. Merci !</h6><br>
    <form [formGroup]="addReviewForm" (ngSubmit)="onSubmit()" class="example-full-width">

      <div  class="form-group" id="starRating">
        <label>Votre note globale pour ce restaurant</label><br>
        <app-star-global [rating]="0" [click]="true" [ngClass]="{ 'is-invalid': submitted && ratingGlobal==='0'}"></app-star-global>
        <div *ngIf="submitted && ratingGlobal==='0'" class="invalid-feedback">
          <div *ngIf="ratingGlobal==='0'">Ce champ est obligatoire.</div>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="Titre de votre avis"  matInput formControlName="titre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.titre.errors }" />
          <div *ngIf="submitted && f.titre.errors" class="invalid-feedback">
            <div *ngIf="f.titre.errors.required">Ce champ est obligatoire.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width">
          <textarea type="text" placeholder="Votre avis"  matInput formControlName="avis" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.avis.errors }"></textarea>
          <div *ngIf="submitted && f.avis.errors" class="invalid-feedback">
            <div *ngIf="f.avis.errors.required">Ce champ est obligatoire.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group" id="typeVisite">
        <mat-form-field class="example-full-width" >
          <mat-select placeholder="Indiquez le type de visite" formControlName="type" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <mat-option value="couple">En couple</mat-option>
            <mat-option value="famille">En famille</mat-option>
            <mat-option value="amis">Amis</mat-option>
            <mat-option value="affaires">Affaires</mat-option>
            <mat-option value="solo">Solo</mat-option>
          </mat-select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors.required">Ce champ est obligatoire.</div>
          </div>
        </mat-form-field>
      </div>

      <div class="form-group" id="starRatingVFM">
        <label>Cliquez pour donner une note</label><br>
        <label>Rapport qualité / prix</label>
        <app-star-valueForMoney-root [click]="true" [rating]="0" [ngClass]="{ 'is-invalid': submitted && ratingValueForMoney==='0'}"></app-star-valueForMoney-root>
        <div *ngIf="submitted && ratingValueForMoney==='0'" class="invalid-feedback">
          <div *ngIf="ratingValueForMoney==='0'">Ce champ est obligatoire.</div>
        </div>
      </div>
<br>
      <div class="form-group">
        <label>Indiquez les types de cuisine</label><br>
        <mat-form-field class="example-full-width" >
          <mat-chip-list #chipList aria-label="TypeFood selection">
            <mat-chip
              *ngFor="let typeFood of typeFoodSelected"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeTypeFood(typeFood)">
              {{typeFood}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Nouveau type de cuisine"
              #typeFoodInput
              [formControl]="typeFoodCtrl"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addTypeFood($event)">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTypeFood($event)">
            <mat-option *ngFor="let typeFood of filteredTypeFood | async" [value]="typeFood">
              {{typeFood}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Envoyer
        </button>
      </div>

    </form>
  </div>
</div>
