
  <div class="row row-margin-bottom">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>{{restaurant?.name.toUpperCase()}}</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <p class="card-text"><i class="material-icons">location_on</i>{{restaurant?.street}}, {{restaurant?.city}}</p>
            </div>
            <div class="col-4">
              <p *ngIf="restaurant?.phoneNumber === undefined"
                 class="card-text"><i class="material-icons">call</i>Non renseigné</p>
              <p *ngIf="restaurant?.phoneNumber !== undefined"
                 class="card-text"><i class="material-icons">call</i>{{restaurant?.phoneNumber}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row row-margin-bottom">
    <div class="col">
      photos
    </div>
  </div>-->
  <div class="row row-margin-bottom">
    <div class="col-md-auto">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>Notes et avis</h5>
        </div>
        <div class="card-body">
          <p class="card-text">Note globale<app-star-global [rating]="restaurant?.score" [click]="false"></app-star-global>
          <p class="card-text">Rapport qualité / prix<app-star-valueForMoney-root [rating]="restaurant?.price" [click]="false"></app-star-valueForMoney-root></p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>Détails</h5>
        </div>
        <div class="card-body">
          <h6 *ngIf="restaurant?.mood !== undefined" class="card-subtitle mb-2 text-muted">Les visiteurs sont venus </h6>
          <h6 *ngIf="restaurant?.mood === undefined" class="card-subtitle mb-2 text-muted">Non renseignés</h6>
          <mat-chip-list>
            <p *ngIf="moodsPercentage.couple != 0" class="card-text"><mat-chip [ngClass]="moodsPercentage.couple/reviews?.length*100 >= 50 ? 'primary' : (moodsPercentage.couple/reviews?.length*100 >= 25 ? 'accent' : 'a')" > En couple : {{(moodsPercentage.couple/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="moodsPercentage.famille != 0" class="card-text"><mat-chip [ngClass]="moodsPercentage.famille/reviews?.length*100 >= 50 ? 'primary' : (moodsPercentage.famille/reviews?.length*100 >= 25 ? 'accent' : 'a')">En famille : {{(moodsPercentage.famille/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="moodsPercentage.amis != 0" class="card-text"><mat-chip [ngClass]="moodsPercentage.amis/reviews?.length*100 >= 50 ? 'primary' : (moodsPercentage.amis/reviews?.length*100 >= 25 ? 'accent' : 'a')">Entre amis : {{(moodsPercentage.amis/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="moodsPercentage.affaires != 0" class="card-text"><mat-chip [ngClass]="moodsPercentage.affaires/reviews?.length*100 >= 50 ? 'primary' : (moodsPercentage.affaires/reviews?.length*100 >= 25 ? 'accent' : 'a')">Pour affaires : {{(moodsPercentage.affaires/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="moodsPercentage.solo != 0" class="card-text"><mat-chip [ngClass]="moodsPercentage.solo/reviews?.length*100 >= 50 ? 'primary' : (moodsPercentage.solo/reviews?.length*100 >= 25 ? 'accent' : 'a')">En solo : {{(moodsPercentage.solo/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
          </mat-chip-list>
          <br>
          <h6 *ngIf="restaurant?.mood !== undefined" class="card-subtitle mb-2 text-muted">Les visiteurs ont mangés </h6>
          <mat-chip-list>
            <p *ngIf="typesCookPercentage.americain != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.americain/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.americain/reviews?.length*100 >= 25 ? 'accent' : 'a')" > Américain : {{(typesCookPercentage.americain/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.chinois != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.chinois/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.chinois/reviews?.length*100 >= 25 ? 'accent' : 'a')">Chinois : {{(typesCookPercentage.chinois/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.francais != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.francais/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.francais/reviews?.length*100 >= 25 ? 'accent' : 'a')">Français : {{(typesCookPercentage.francais/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.italien != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.italien/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.italien/reviews?.length*100 >= 25 ? 'accent' : 'a')">Italien : {{(typesCookPercentage.italien/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.japonais != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.japonais/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.japonais/reviews?.length*100 >= 25 ? 'accent' : 'a')">Japonais : {{(typesCookPercentage.japonais/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.mexicain != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.mexicain/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.mexicain/reviews?.length*100 >= 25 ? 'accent' : 'a')">Mexicain : {{(typesCookPercentage.mexicain/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.sansGluten != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.sansGluten/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.sansGluten/reviews?.length*100 >= 25 ? 'accent' : 'a')">Sans Gluten : {{(typesCookPercentage.sansGluten/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.thailandais != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.thailandais/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.thailandais/reviews?.length*100 >= 25 ? 'accent' : 'a')">Thailandais : {{(typesCookPercentage.thailandais/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.vegan != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.vegan/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.vegan/reviews?.length*100 >= 25 ? 'accent' : 'a')">Végan : {{(typesCookPercentage.vegan/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.vegetarien != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.vegetarien/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.vegetarien/reviews?.length*100 >= 25 ? 'accent' : 'a')">Végétarien : {{(typesCookPercentage.vegetarien/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
            <p *ngIf="typesCookPercentage.vietnamiem != 0" class="card-text"><mat-chip [ngClass]="typesCookPercentage.vietnamiem/reviews?.length*100 >= 50 ? 'primary' : (typesCookPercentage.vietnamiem/reviews?.length*100 >= 25 ? 'accent' : 'a')">Vietnamiem : {{(typesCookPercentage.vietnamiem/reviews?.length*100).toFixed(0)}}%</mat-chip></p>
          </mat-chip-list>


        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header">
          <h5>Emplacement</h5>
        </div>
        <div class="card-body">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-margin-bottom">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header" id="avisHeader">
          <h5 id="btnAvisHeader">{{reviews?.length}} avis</h5>
          <button *ngIf="currentUser" type="button" class="btn btn-outline-success" (click)="router.navigate(['restaurant/'+restaurant?.id+'/ReviewEdit'])">Ecrire un avis</button>
          <h5 class="text-muted m-1">Recherche</h5>
          <input type="text" class="search"  style="max-width: 150px" [ngModel]="search" (ngModelChange)="doFilter($event)">
        </div>
        <div class="card-body">
          <div *ngFor="let item of pageOfItems">
            <app-review-display [review]="item"></app-review-display>
          </div>
        </div>
        <div class="card-footer pb-0 pt-3">
          <jw-pagination  [pageSize]="2" [items]="reviews" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
      </div>
    </div>
  </div>


